<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ page.desc }}">
<meta name="keywords" content="scrum, scrum master, agile, training, certification, professional, certified, CSM, PSM">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link href="{{ page.base_url }}dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ page.base_url }}assets/css/docs.css" rel="stylesheet">
<link href="{{ page.base_url }}assets/css/bootstrap-glyphicons.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ page.base_url }}assets/js/html5shiv.js"></script>
  <script src="{{ page.base_url }}assets/js/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">
<script async="async" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
