<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <a href="{{ page.base_url }}" class="navbar-brand"><small class="glyphicon glyphicon-star"></small> Scrum Master</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "agile-project-management" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}agile-project-management">Agile Project Management</a>
        </li>
        <li{% if page.slug == "role-scrummaster-scrum-team" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}role-scrummaster-scrum-team">ScrumMaster Role</a>
        </li>
        <li{% if page.slug == "certified-scrum-master-csm-vs-professional-scrum-master-psm" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}certified-scrum-master-csm-vs-professional-scrum-master-psm">CSM vs PSM</a>
        </li>
      </ul>
    </div>
  </div>
</div>
